body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-header .navbar-brand {
  color: #F1948A;
}

#navbar .navbar-nav li a {
  color: #F1948A;
}

#navbar .navbar-nav li.active a {
  color: #1A5276;
}
