body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-header .navbar-brand {
  color: #C39BD3;
}

#navbar .navbar-nav li a {
  color: #5D6D7E;
}

#navbar .navbar-nav li.active a {
  color: #C39BD3;
}
