<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/navbar.css" />
    <!--TODO: can I put this in a different layout file?-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/food.css" />

  </head>

  <body>
    <nav class="navbar-container">
        <div class="nav-personal-overview">
            Kevin Lin <br/>
            UC Berkeley 2017
        </div>
        <!-- From right to left -->
        <div class="nav-link">
            <a href="/">Home</a>
        </div>
        <div class="nav-link">
            <a href="/themenu">Blog</a>
        </div>
        <div class="nav-link">
            <a href="/contact.html">Contact</a>
        </div>
        <div class="nav-link">
            <a href="/about.html">About</a>
        </div>
        <div class="nav-link">
            <a href="/timeline.html">Timeline</a>
        </div>
        <div class="nav-link">
            <a href="/projects">Projects</a>
        </div>
    </nav>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <!--<div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
  </div>-->

    {% include analytics.html %}
  </body>
</html>
